# REQUIRED for Heroku 24/7
MONGO_URI=mongodb+srv://USER:PASS@CLUSTER.mongodb.net/?appName=YourApp

# Optional — leave empty to pair via terminal
SESSION_ID=

# Bot Settings
BOT_NAME=IMMU MD V3
PREFIX=.
MODE=public
TIME_ZONE=Asia/Karachi
PORT=8000

# Auto Features
AUTO_READ_STATUS=true
AUTO_LIKE_STATUS=true

# Anti Features
ANTIDELETE=true
ANTIVIEWONCE=true
ANTICALL=false

# Optional auto-pair (skip terminal prompt)
PAIR_NUMBER=
